
<div class="nav-wrapper">
  <div class="col s12 breadcrumb  blue-text" >
    <!--<a href="/home/channel" class="breadcrumb blue-text">channel</a>-->

    <span  (click)="naviagte()"  class="breadcrumb-item  pointer">channel</span>
    >>
    <span (click)="naviagte(true)"   class="breadcrumb-item blue-text pointer">{{title}}</span>

  </div>
</div>

<!--<ol class="breadcrumb">-->
  <!--<li><a routerLink="" class="breadcrumb">Home</a></li>-->
  <!--<li *ngFor="let breadcrumb of breadcrumbs">-->
    <!--<a [routerLink]="[breadcrumb.url, breadcrumb.params]">{{ breadcrumb.label }}</a>-->
  <!--</li>-->
<!--</ol>-->


 <div class="row " style="margin-top: 20px">
    <div class="col s1">
      <div class="card">

      </div>
    </div>


    <div class="col s10">

      <div class="row" >



        <div class="col s4">
          <div class="card">
            <div class="card-content khabri_tab khabri_tab_1">
              <span class=" center ">{{content.editedCount}} Edited</span>

            </div>
          </div>
        </div>


        <div class="col s4">
          <div class="card">
            <div class="card-content khabri_tab khabri_tab_2 ">
              <span class=" center"> {{content.liveCount}} Live </span>


            </div>
          </div>
        </div>

        <div class="col s4">
          <div class="card khabri_tab khabri_tab_3">
            <div class="card-content center ">
              <span class="card-title center">Analytics</span>

            </div>
          </div>
        </div>

      </div>


    </div>



    <div class="col s1 ">
      <div class="card">

      </div>
    </div>


  </div>




      <div class="row " >

        <div class="col s12">

            <div class="row" >
              <div class="col s2  ">

              </div>

            <div class="col s3  ">
              <input type="text"  #Search [(ngModel)]="searchText"  name="Search" placeholder="Search content" >

            </div>


            <div class="col s6 ">

                <mat-form-field>
                  <mat-select placeholder="Select status" [(value)]="selectedStatusId"  (change)="OnStatusSelect()">
                    <mat-option *ngFor="let status of statusList" [value]="status.statusId">
                      {{ status.statusName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>



            </div>

            <div class="col s1  ">

              <a class="btn-floating btn-large waves-effect waves-light blue pulse" (click)="addContent(id)" ><i class="material-icons">add</i></a>


            </div>

          </div>
        </div>










        <div class="row" *ngIf="contents.length>0"  >

          <div  class="col s4 "  *ngFor="let content of contents | filter : searchText:'title':'contentId'" >


            <div class="card white darken-1"  style="margin-top: 20px">
            <div class="card-content blue-text" >

              <p> <span>#</span>{{content.contentId}}</p>

              <p> {{content.title | limitTo:50}}</p>

                  <img    width="auto" height="150px" class="container-img" src="{{content.imageUrl}}">


              </div>

              <div style="position: relative"  >

                <span class="clour_darkgray justify  " style="font-size: 0.75em;     position: absolute;left: 14px; bottom: 5px;" >Added On :: {{content.dateAdded |date : format : shortDate}}</span>

                <span class="clour_darkgray justify "
                      *ngIf=" compareDate(content.dateAdded, content.dateModified)" style="font-size: 0.75em;    position: absolute; right: 14px; bottom: 5px;" >Modified On :: {{content.dateModified |date : format : shortDate}}</span>

              </div>

            <div class="card-action ">
                <span class="pointer" (click)="play(content.audioUrl,content.contentId)" >
                  <mat-icon class=" small material-icons pointer"  *ngIf="content.audioUrl && currntPlayerId !=content.contentId" > play_circle_outline</mat-icon>

                  <mat-icon class=" small material-icons pointer" *ngIf="!audio.paused && currntPlayerId ==content.contentId" > pause_circle_outline</mat-icon>

                  <a class="disabled"> <mat-icon class=" small material-icons disabled grey-text" *ngIf="!content.audioUrl" > volume_off</mat-icon> </a>

                </span>

                  <a class="pointer"><i class="material-icons" style="color:gray">delete</i></a>


                  <a class="pointer"  (click)="editContent(content.contentId)"><i class="material-icons" style="color:gray">edit</i></a>

            </div>



            </div>
        </div>



    </div>


      </div>
