

<div class="nav-wrapper">
  <div class="col s12" >
    <a href="/home/channel" class="breadcrumb blue-text">channel</a>
    <a  role="button" class="breadcrumb blue-text"> </a>

  </div>
</div>


<mat-drawer-container class="container" autosize >


  <!--admin view start-->

  <div class="row " >

    <!--<div class="col s1">-->
      <!--<div class="card">-->

      <!--</div>-->
    <!--</div>-->


    <div class="col s12">

      <div class="row" >





        <div class="col s3">
          <div class="card circular-btn pointer">
            <div class="card-content center khabri_tab_admin " >
             Manage User
            </div>
          </div>
        </div>

        <div class="col s3">
          <div class="card circular-btn pointer ">
            <div class="card-content center khabri_tab_admin " >
              Manage Channel
            </div>
          </div>
        </div>

        <div class="col s3">
          <div class="card circular-btn pointer ">
            <div class="card-content center khabri_tab_admin" >
              Manage Tags
            </div>
          </div>
        </div>

        <div class="col s3">
          <div class="card circular-btn pointer">
            <div class="card-content center  khabri_tab_admin" >
              Manage Roles
            </div>
          </div>
        </div>







      </div>


    </div>



    <!--<div class="col s1 ">-->
      <!--<div class="card">-->

      <!--</div>-->
    <!--</div>-->


  </div>

  <!--admin view ends-->






  <div class="row " >

              <div class="col s4"  *ngFor="let content of channels">

                <div class="card">
                  <div class="card-content  blue-text pointer" (click) ="move(content.channelId,content.title)" >
                    <!--<a href="#"  onclick="move(content)" [routerLink]="['/home/'+content.channelId+'/content']"   [queryParams]="{'title':content.title,'skipLocationChange':true }" >{{content.title}}</a>-->

                    <!--<a class="pointer" (click) ="move(content.channelId,content.title)" >{{content.title}}</a>-->


                        <!--<a class="pointer" (click) ="move(content.channelId,content.title)"  > {{content.title | limitTo:50}}</a>-->
                        <p> {{content.title | limitTo:50}}</p>

                        <img    width="200px" height="150px" src="{{content.imageUrl}}">


                      </div>
                      <div class="card-action">

                        <a class="pointer"><i class="material-icons" style="color:gray">delete</i></a>


                        <a class="pointer" ><i class="material-icons" style="color:gray">edit</i></a>



                  </div>
                </div>

              </div>


              <!--<div class="col s6"  >-->

                <!--<div class="card">-->
                  <!--<div class="card-content">-->


                  <!--</div>-->
                <!--</div>-->

              <!--</div>-->








            </div>





</mat-drawer-container>
