

<div class="nav-wrapper">
  <div class="col s12" >
    <a href="/home/channel" class="breadcrumb blue-text">channel</a>
    <a  role="button" class="breadcrumb blue-text"> </a>

  </div>
</div>


<mat-drawer-container class="container" autosize >

            <div class="row " >

              <div class="col s6"  *ngFor="let content of channels">

                <div class="card">
                  <div class="card-content">
                    <!--<a href="#"  onclick="move(content)" [routerLink]="['/home/'+content.channelId+'/content']"   [queryParams]="{'title':content.title,'skipLocationChange':true }" >{{content.title}}</a>-->

                    <a class="pointer" (click) ="move(content.channelId,content.title)" >{{content.title}}</a>

                    <!--<img width="400" height="200" src={{content.imageUrl}} />-->

                    <!--<img width="400" height="200" src="{{content.imageUr}}">-->


                    <!--<iframe width="400" height="200"-->
                            <!--src="{{content.imageUrl}}"-->
                            <!--frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->

                    <!--<button mat-icon-button class="circular-btn" >Manage user-->

                    <!--</button>-->

                    <!--<button mat-icon-button class="circular-btn" >Manage channel-->

                    <!--</button>-->
                  </div>
                </div>

              </div>


              <div class="col s6"  >

                <div class="card">
                  <div class="card-content">


                  </div>
                </div>

              </div>








            </div>





</mat-drawer-container>
