

<div class="nav-wrapper">
  <div class="col s12 breadcrumb blue-text " >
    <span  (click)="naviagte()"  class=" breadcrumb-item  pointer">channel</span> >>
    <span  role="button" class="breadcrumb-item "> </span>

  </div>
</div>


<mat-drawer-container class="container" autosize >


  <!--admin view start-->

  <div class="row "  *ngIf="user.isAdmin">
    <div class="col s12">
      <div class="row" >
        <div class="col s3">
          <div class="card circular-btn pointer">
            <div class="card-content center khabri_tab_admin " >
             Manage User
            </div>
          </div>
        </div>

        <div class="col s3">
          <div class="card circular-btn pointer ">
            <div class="card-content center khabri_tab_admin " >
              Manage Channel
            </div>
          </div>
        </div>

        <div class="col s3">
          <div class="card circular-btn pointer ">
            <div class="card-content center khabri_tab_admin" >
              Manage Tags
            </div>
          </div>
        </div>

        <div class="col s3">
          <div class="card circular-btn pointer">
            <div class="card-content center  khabri_tab_admin" >
              Manage Roles
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!--admin view ends-->


  <!--search  view-->

  <div class="row " >

    <div class="col s12">

      <div class="row" >
        <div class="col s2  ">

        </div>

        <div class="col s3  ">
          <input type="text"  #Search [(ngModel)]="searchText"  name="Search" placeholder="Search content" >

        </div>


        <div class="col s4 ">

          <mat-form-field>
            <mat-select placeholder="Select status"  [(ngModel)]="selectedStatus" (change)="OnStatusSelect($event)">
              <mat-option *ngFor="let status of statusList" [value]="status.statusId">
                {{ status.statusName }}
              </mat-option>
            </mat-select>
          </mat-form-field>



        </div>

        <div class="col s3  " *ngIf="user.isAdmin">


          <a class="btn-floating btn-large waves-effect waves-light blue pulse"><i class="material-icons">add</i></a>


        </div>

      </div>
    </div>

  </div>
  <!--search  view end -->






  <div class="row " >

              <div class="col s4"  *ngFor="let content of channels | filter : searchText:'title' :'channelId'">

                <div class="card">
                  <div class="card-content  blue-text pointer" (click) ="move(content.channelId,content.title)" >

                    <p> <span>#</span>
                       {{content.channelId}}
                    </p>

                        <p> {{content.title | limitTo:50}}</p>

                        <img  width="200px" height="150px" src="{{content.imageUrl}}">


                      </div>

                  <div  >

                  <span class="clour_darkgray justify  " style="font-size: 0.75em; margin-left: 1%">Added On :: {{content.dateAdded |date : format : shortDate}}</span>

                  <span class="clour_darkgray justify " *ngIf="content.dateAdded != content.dateModified"  style="font-size: 0.75em; margin-left: 2%" >Modified On :: {{content.dateModified |date : format : shortDate}}</span>

                  </div>

                  <div class="card-action">

                        <a class="pointer" *ngIf="user.isAdmin"><i class="material-icons" style="color:gray">delete</i></a>


                        <a class="pointer" ><i class="material-icons" style="color:gray">edit</i></a>



                  </div>
                </div>

              </div>


              <!--<div class="col s6"  >-->

                <!--<div class="card">-->
                  <!--<div class="card-content">-->


                  <!--</div>-->
                <!--</div>-->

              <!--</div>-->








            </div>





</mat-drawer-container>
