


<nav class="cloura">
  <div class="nav-wrapper" >

    <a  class="brand-logo left  "   >
      <i class=" pointer material-icons" *ngIf="!drawer.opened" mat-button (click)="drawer.open()">menu</i>
      <i class=" pointer material-icons" *ngIf="drawer.opened" mat-button (click)="drawer.close()">close</i>

    </a>
    <div class="row">


      <a href="#" class="brand-logo center">
        <img  height="60" src="../assets/khabri.jpg">
      </a>


      <div class="row right ">
        <div class="col s2 ">
          <i class="material-icons">notifications_active</i>
        </div>



        <div class="col s2">
          <i class="material-icons">account_circle</i>
        </div>


        <div class="col s8  ">
          <mat-label class="text_design" >{{user.name}} </mat-label>
        </div>

      </div>

    </div>

  </div>
</nav>





<mat-drawer-container class="example-container"    >


  <mat-drawer #drawer class="example-sidenav side-nav-style" mode="side">
    <!--<p>Auto-resizing sidenav</p>-->
    <!--<p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>-->
    <!--<button (click)="showFiller = !showFiller" mat-raised-button>-->
    <!--Toggle extra text-->
    <!--</button>-->
    <div class="row  ">
      <div class=" col s12 ">
        <mat-list >
          <mat-list-item  class="marin-top">Tech support (Live chat)</mat-list-item>
          <mat-divider></mat-divider>



          <mat-list-item class="marin-top">Request A Feature</mat-list-item>
          <mat-divider ></mat-divider>
          <mat-list-item class="marin-top">Recommend A creator</mat-list-item>

        </mat-list>

      </div>
      <div class="col s12 ">
      </div>




    </div>




  </mat-drawer>



  <div class="example-sidenav-content"  mat-button (click)="drawer.close()">



    <router-outlet ></router-outlet>

  </div>






</mat-drawer-container>

